<ul class="flex items-center text-sm font-medium h-full">
    {% if user.is_authenticated %}
    <li class="nav-link hover:border-gray-600"><a href="{{user.get_absolute_url}}">Your Profile</a></li>
    <li class="nav-link hover:border-gray-600"><a class="py-10 px-5" href="{% url 'users:logout' %}">Log Out</a></li>
    <li class="nav-link hover:border-gray-600">Hello, brother :) You are logged as: {{user.first_name}}</li>
    {% else %}
    <li class="nav-link hover:border-gray-600"><a class="py-10 px-5" href="{% url 'users:login' %}">Log in</a></li>
    <li class="nav-link hover:border-gray-600"><a class="py-10 px-5" href="{% url 'users:signup' %}">Sign Up for Airbnb</a></li>
    {% endif %}
</ul>